<!DOCTYPE html>
<html>
<head>
    <title>Mon CV</title>
    <!-- Inclure les fichiers Bootstrap via CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href="#">WELPNETWORK.COM</a>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Contenu de votre CV -->
    <div class="container intro box-shadow">
        <div class="row">
            <div class="col-md-5 glisser-gauche">
                <!-- Votre photo -->
                <img src="static/assets/imageCV.png" alt="Votre photo" class="img-fluid">
            </div>
            <script src="/static/js/left.js"></script>
            <div class="col-md-7">
                <!-- Votre nom et prénom -->
                <div class="nom-avec-barre">
                    <h1>Joan LARCHER</h1>
                    <h3>Production IT Engineer</h3>
                </div>
                <!-- Présentation de votre profil -->
                <br>
                <p>Hello, I’m Joan, an enthusiastic junior in IT production eager to learn and grow. I strive to optimize processes and contribute to the smooth operation of essential systems. My enthusiasm and willingness to learn help me make quick progress in the field of IT production.</p>
                <a href="static/assets/Joan_LARCHER_-_CV_Ing_sys_V5.pdf" class="btn btn-telecharger">Download CV</a><br>
                <a href="https://github.com/welp99" class="btn btn-github"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/joan-larcher-nine-nine" class="btn btn-linkedin"><i class="fab fa-linkedin"></i></a>                
            </div>
            <script src="/static/js/right.js"></script>
        </div>
    </div>
    <div class="page-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="nom-avec-barre">
                    <h2>A LITTLE <br> ABOUT ME</h2>
                </div>
                <div>
                    <br>
                    <p>Gaming, longboarding, hip hop dance, and playing guitar are some of my passions. I also enjoy watching series and reading social sciences books.</p>
                </div>
                <!-- Ajoutez d'autres informations personnelles ici -->
            </div>
            <script src="/static/js/left.js"></script>
            <div class="col-md-7">
                <div class="parent-div row">
                    <!-- Première rangée de 3 divs -->
                    <div class="col-md-4">
                        <div class="child-div info-avec-barre">
                            <h4><i class="fas fa-birthday-cake"></i>BIRTHDAY</h4>
                            <p>December 20, 1991</p>
                        <!-- Contenu de la première div -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="child-div info-avec-barre">
                            <h4><i class="fas fa-map-marker-alt"></i>ADDRESS</h4>
                            <p>France, Paris</p>
                        <!-- Contenu de la deuxième div -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="child-div info-avec-barre">
                            <h4><i class="fas fa-envelope"></i>EMAIL</h4>
                            <p>larcherjoan@gmail.com</p>
                        <!-- Contenu de la troisième div -->
                        </div>
                    </div>
                    <!-- Deuxième rangée de 3 divs -->
                    <div class="col-md-4">
                        <div class="child-div info-avec-barre">
                            <h4><i class="fas fa-phone"></i>PHONE</h4>
                            <p>06 32 50 79 68</p>
                        <!-- Contenu de la quatrième div -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="child-div info-avec-barre">
                            <h4><i class="fab fa-discord"></i>DISCORD</h4>
                            <p>welp93</p>
                        <!-- Contenu de la cinquième div -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="child-div">
                        <!-- Contenu de la sixième div -->
                        </div>
                    </div>
                </div>
            </div>
            <script src="/static/js/right.js"></script>
        </div>
    </div>
    <div class="page-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="nom-avec-barre">
                    <h2>WHAT I <br> LOVE TO DO</h2>
                </div>
            </div>
            <script src="/static/js/left.js"></script>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="center-text">
                            <i class="fas fa-network-wired fa-3x"></i><br>
                            INFRASTRUCTURE MANAGEMENT
                        </h4>
                        <p class="liltext center-text">
                            Responsible for planning, deploying, and maintaining IT infrastructures, including server and network administration.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="center-text">
                            <i class="fas fa-cogs fa-3x"></i><br>
                            PROCESS OPTIMIZATION
                        </h4>
                        <p class="liltext center-text">
                            Enhancing operational efficiency through innovative solutions and task automation to optimize workflows.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="center-text">
                            <i class="fas fa-list fa-3x"></i><br>
                            INCIDENT MANAGEMENT
                        </h4>
                        <p class="liltext center-text">
                            Ensuring comprehensive and accurate documentation of procedures, configurations, and incident resolutions
                        </p>
                    </div>
                </div>
            </div>
            <script src="/static/js/right.js"></script>
        </div>
    </div>
    <div class="page-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="nom-avec-barre">
                    <h2>MY <br> EDUCATION</h2>
                </div>
            </div>
            <script src="/static/js/left.js"></script>
            <div class="col-md-7">
                <ul>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fas fa-graduation-cap"></i>
                            2023 - 2025</h4>
                        <p>
                            EPSI Paris <br> Msc Expert in Computer Science and Information System
                        </p>
                    </li>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fas fa-graduation-cap"></i>
                            2022 - 2023</h4>
                        <p>
                            EPSI Paris<br>Bachelor IT SYSOPS (3rd years)
                        </p>
                    </li>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fas fa-graduation-cap"></i>
                            2020 - 2022</h4>
                        <p>
                            IMIE Paris<br>BTS : Information Services for Organisation
                        </p>
                    </li>
                </ul>
            </div>
            <script src="/static/js/right.js"></script>
        </div>
    </div>
    <div class="page-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="nom-avec-barre">
                    <h2>MY <br> EXPERIENCE</h2>
                </div>
            </div>
            <script src="/static/js/left.js"></script>
            <div class="col-md-7">
                <ul>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fab fa-redhat"></i>
                            2023 - PRESENT</h4>
                        <p>
                            Production IT Engeneer <br> BNP Paribas
                        </p>
                    </li>
                    <li class="list-without-dot">
                        <p>

                        </p>
                    </li>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fab fa-linux"></i>
                            2022 - 2023</h4>
                        <p>
                            System & Network Administrator<br>Primaxion
                        </p>
                    </li>
                </li>
                <li class="list-without-dot">
                    <p>
                        As a System and Network Administrator at Primaxion, I was responsible for installing, configuring, and administrating server and network equipment. I maintained operational conditions using monitoring tools like Nagios and Centreon, designed and managed containers with Docker and Kubernetes, and ensured the security and efficiency of the database. Additionally, I played a key role in creating and maintaining the Disaster Recovery Plan (DRP) and Business Continuity Plan (BCP) 
                    </p>
                    <li class="info-avec-barre">
                        <h4>
                            <i class="fab fa-windows"></i>
                            2020 - 2022</h4>
                        <p>
                            IT Technician<br>GTT
                        </p>
                    </li>
                </li>
                <li class="list-without-dot">
                    <p>
                        As an Information Technology Technician at Gaztransport et Technigaz, I performed computer setups, managed user access and accounts, and designed and managed the Windows Server structure. I also took care of Exchange management, IT network management, and maintained network equipment (Cisco)
                    </p>
                </ul>
            </div>
            <script src="/static/js/right.js"></script>
        </div>
    </div>
    <div class="page-divider"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="nom-avec-barre">
                    <h2>TECHNICAL<br> SKILLS</h2>
                </div>
            </div>
            <div class="col-md-7">
                <p>System</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">(90%)</div>
                </div>
                <script src="/static/js/progressBar.js"></script>
                <p>Docker</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">(80%)</div>
                </div>
                <script src="/static/js/progressBar.js"></script>
                <p>HTML/CSS</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">(80%)</div>
                </div>
                <script src="/static/js/progressBar.js"></script>
                <p>Python</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">(70%)</div>
                </div>
                <script src="/static/js/progressBar.js"></script>
                <p>Ansible</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">(60%)</div>
                </div>
                <script src="/static/js/progressBar.js"></script>
            </div>
        </div>
    </div>
    <div class="page-divider-end"></div>
    <div class="footer">
        <p class="footer liltext">
            Copyright &copy; Welp 2023
        </p>
    </div>
</body>
</html>


